{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.name"
    }
  ]
}
{% endschema %}

{%- assign s1_embed_blocks = section.blocks -%}
<div class="app-embeds">
  {%- for s1_app_block in s1_embed_blocks -%}
    {% render s1_app_block %}
  {%- endfor -%}
</div>
